<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AC Proyectos. Eléctricos & Automatización</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <header>
        <h1>BIENVENIDOS A MI SITIO WEB</h1>
        <nav class="navbar">
            <picture>
                <a href="../img/Logo.jpg"><img class="logo" src="../img/logo.jpg"
                        alt="Cuadrado formado por bloques verdes y a su derecha se le agrega AC Proyectos Electricos y Automatizacion"></a>
            </picture>
            <ul class="menu">
                <li><a href="../../index.html">Inicio</a>
                </li>
                <li><a href="empresa.html">Empresa</a>
                </li>
                <li><a href="servicios.html">Servicios</a>
                </li>
                <li><a href="consultanos.html">Consultanos</a>
                </li>
                <li><a href="contacto.html">Contacto</a>
                </li>
            </ul>
        </nav>
    </header> <br>

    <main>
        <section class="main__disposicion">
            <div class="main__disposicion__h2">
                <h2>Empresa</h2>
            </div>
            <div class="empresa__a">
                <h3>Misión</h3>
                <p>Trabajar junto a nuestros clientes para alcanzar sus metas de negocio, proveyéndoles servicios,
                    soluciones y asistencia adecuada para ello.</p>
            </div>
            <div class="empresa__b">
                <h3>Visión</h3>
                <p>Ser la empresa elegida por nuestro trabajo y servicios. Ser reconocida por la eficiencia, calidad
                    humana
                    y profesionalismo de nuestros integrantes.</p>
            </div>
            <div class="empresa__c">
                <h3>QUIENES SOMOS</h3>
                <p>Text Lorem Ipsum</p>
            </div>

        </section>

    </main>

    <footer>
        <p>Todos los derechos reservados&copy; 2022</p>
    </footer>


</body>

</html>